

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<div id="container">
  <div class="card text-center">
    <div class="card-header">
      Welcome to admin team of Ironhorsestudio.net
    </div>
    <div class="card-body">
      <h5 class="card-title">Your credentials:</h5>
      <p class="card-text">email: <%=@user.email%></p>
      <p class="card-text">password: <%=@password%></p>
      <a href="https://ironhorsestudio.net/" class="btn btn-primary">Visit Admin Panel</a>
    </div>
    <div class="card-footer text-muted">
      <p><a href="https://ironhorsestudio.net" target="_blank">ironhorsestudio.net</a> || <a href="https://ironhorsestudio.net/" target="_blank">https://ironhorsestudio.net/</a></p>
    </div>
  </div>
</div>