
<div id="welcome-message">
  <h3>Welcome <%=current_user.name%> !</h3>
  <br>
  <h5>Please use navigation bar to update website content at <a href="https://ironhorsestudio.net" target="_blank">ironhorsestudio.net</a>,
  do not forget to click save after every change you made before moving to the next tab. 
  </h5>
</div>