
<h3 class="welcome-message">Header</h3>
<div class="category container">

  <%=form_for @info, local: true do |f| %>
    <%= f.label :header_text %>
    <%=f.text_field :header_text, class:"form-control" %>
    <br>
    <%=f.submit "Update Headers", class:"btn btn-primary btn", onclick: "loader();"%>
  <%end%>
</div>
