
<h3 id="welcome-message">Contact</h3>

<div class="category container">
    <%=form_for @info do |f| %>
    <%= f.label :contact_email %>
    <%=f.text_field :contact_email, class:"form-control" %>
    <br>
    <%=f.submit "Update Contact Info", class:"btn btn-primary btn"%>
  <%end%>
</div>