/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:scroll;
  height: auto;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 100%;
  position: relative;
  background: linear-gradient(to right, #0d2235, #414c55);
  color: white;
 }

 /* .card-body {
  background: linear-gradient(to right, #0d2235, #414c55);
 } */

 #header-text {
  padding-top: 2%;
  padding-left: 3%;
  padding-bottom: 3%;
  margin: 0;
  color: #fff;
  font-size: 4rem;
  font-family: Georgia,serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  background: inherit;
  opacity: 0.9;
}


.welcome-message {
  text-align: center;
  padding-top: 2.5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 69px;
}

.nav-link {
  color: rgba(243, 196, 42, 0.904) !important;
  font-weight: 600;
  font-size: 20px !important;
}

.category {
  text-align: center;
  justify-content: center;
}

.header-img {
  width: 50%;
  height: 50%;
  border: 3px solid black;
  margin-bottom: 3%;
}

.nav-link {
  /* text-decoration: underline; */
}

.hidden {
  display: none;
}

/* #loader {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  opacity: 1!important;
} */

#loader {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(255,255,255,0.7);
  z-index:9999;
  display:none;
}

@-webkit-keyframes spin {
from {-webkit-transform:rotate(0deg);}
to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}

#loader::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}
